@tailwind base;
@tailwind components;
@tailwind utilities;

.num {
    width: 5em;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.page-link {
    display: inline;
}

.active {
    color: #ffffff;
    background-color: #888af9;
    pointer-events: none;
}

table {
    table-layout: fixed;
    border: ridge;
}

th {
    white-space: nowrap;
    text-align: center;
    /* border-style: groove; */
    border: ridge;
}

td {
    text-align: center;
    border: ridge;
    /* border-style: groove; */
}

/* #dispnum {
    width: 4em;
} */

.originalhidden {
    display: none;
}

.resize {
    width: 120px;
}

.resize2 {
    width: 104px;
}

.resize3 {
    width: 300px;
}

.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    background: rgb(197, 244, 190);
    padding: 30px;
    width: 50%;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus {
    background: #FFCCFF;
}

div.abc {
    width: 40%;
    border: ridge;
    margin: 0 auto;

}

div.nameclass {
    width: 100%;
    height: auto;
    border-bottom: ridge;
    text-align: center;
    margin: 0 auto;
    padding: 1% 1%;
}

div.imgclass {
    display: grid;
    height: auto;
    grid-template-columns: 50% 50%;
    text-align: center;
}

div.imgArea {
    width: 100%;
    height: auto;
    border: ridge;
    margin: 0 auto;
}

.myimg {
    margin: 0 auto;
    width: 40%;
}

.greeting {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #2563eb;
}

div.emailclass {
    height: auto;
    border-top: ridge;
    border-bottom: ridge;
    text-align: center;
    margin: auto;
    padding: 1% 1%;
}

div.addressclass {
    height: auto;
    width: 320px;
    margin: auto;
    padding: 1% 0 1% 0%;
}

div.telclass {
    height: auto;
    margin: auto;
    text-align: center;
    padding: 1% 1%;
}

div.err_zip {
    color: red;
}

div.err_tel {
    color: red;
}

#getaddress {
    width: 50%;
}

#address2 {
    width: 50%;
}

.img {
    margin-top: 5px;
}

label.original {
    background-color: rgb(218, 255, 250);
    padding: 2px;
    border-radius: 12px;
    border: outset;
}

div.preview1 {
    margin-top: 10px;
    width: 30%;
    margin: 0 auto;
}

div.preview2 {
    margin-top: 10px;
    width: 30%;
    margin: 0 auto;
}

div.preview1list {
    margin-top: 10px;
    width: 30%;
    margin: 0 auto;
}

div.preview2list {
    margin-top: 10px;
    width: 30%;
    margin: 0 auto;
}

div.listimgArea {
    display: flex;
    flex-wrap: wrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

div.list {
    text-align: center;
}

/* .listmyimg {
    margin: 0 auto;
    width: 30%;
} */

label.original2 {
    background-color: rgb(218, 255, 250);
    padding: 0px;
    border-radius: 12px;
    border: outset;
}

input[type=text] {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;}

div#addressbutton {
    text-align: center;
    border-bottom: ridge;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.top {
    margin: 0 auto;
    text-align: center;
    /* height: 5rem; */
    /* padding: 1% 0 1% 0%; */

}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: double; */

}

.title {
    width: 10%;
    /* border: double; */

}

.insert {
    margin-bottom: 5px;
}

.category {
    width: 30%;
    /* border: double; */
    display: flex;
    justify-content: space-evenly;
}

.sort {
    width: 30%;
    /* border: double; */
}

.page {
    width: 20%;
    /* border: double; */
    text-align: right;
}

strong {
    color: #2563eb;
}

/* 上書き用 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
    border: 1px solid #333;
    /* 追加 */
    background-color: #eee2f5;
    /* 追加 */
    border-radius: 5px;
    /* 追加 */
}

.card-title {
    background-color: lightgray;
}

.border-line {
    border-top: black;
}

.d_img {
    width: 70%;
    margin: auto;
}

.change_text {
    text-align: center;
}


/* New */

input {
    outline: solid 1px black;
    margin-bottom: 12px;
}

.input-name { width: 16em; }
.input-email { width: 20em; }
.input-post_code { width: 7em; }
.input-address { width: 20em; }
.input-phone_number { width: 10em; }

.drop-zone {
    border: 1px solid;
    margin: 0 auto;
    width: 70%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 3px;
    background-color: #ffffe0;
    font-size: 14px;
}

.label-btn {
    background-color: rgb(218, 255, 250);
    padding: 2px;
    border-radius: 12px;
    border: outset;
}

div.preview {
    margin-top: 10px;
    width: 30%;
    margin: 0 auto;
}

.zip-btn {
    margin-left: 20px;
}

.info {
    font-size: 14px;
}

ul li:hover .check {
    font-weight: bold;
    color: #006DD9;
    border: 1px solid #006DD9;
}

input[type=radio] {
    margin-left: 10px;
    margin-top: 7px;
    display: none;
}

.select {
    font-size: 18px;
    font-weight: bold;
    /* color: #006DD9; */
}

.scroll {
    overflow: scroll;
}

.error-msg {
    font-size: 14px;
    color: red;
}

.listMyImg {
    margin: 0 auto;
    width: 30%;
}

.searchName {
    width: 120px;
    margin-top: 4px;
    margin-right: 30px;
}

.searchSal {
    width: 80px;
    margin-right: 5px;
}

.searchBtn {
    margin-right: 5px;
}

.resetBtn {
    margin-right: 30px;
}

.csvImport {
    margin-right: 30px;
}

.insert {
    margin-top: 10px;
}

.active {
    color: #ffffff;
    background-color: #888af9;
    /* pointer-events: none; */
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.no_active {
    color: #ffffff;
    background-color: #b4b5ff;
    /* pointer-events: none; */
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.dispNum {
    margin-top: 5px;
    width: 4em;
}

.dispNumBtn {
    margin-left: 5px;
}

.borderless {
    border: none;
    /* width: 90%; */
}

.borderless td {
    word-wrap: break-word;
}

.dragging {
    background-color: #d1d1fd;
}

.searchWord {
    width: 20em;
}

.enter {
    border: 2px dotted;
    background-color: #ebffe0;
}

.required {
    background-color: pink;
}
